html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }



:root {

  /* Color palette */
  --color-darker: #100c25;
  --color-dark: #1B1833;
  --color-purple: #441752;
  --color-apple: #AB4459;
  --color-orange: #F29F58; 
  --color-white: #FFFDEC;

  /* Priority Color */
  --color-priority-low: #494CA2;
  --color-priority-normal: #6F975C;
  --color-priority-high: #D2D462;
  --color-priority-critical: #FF6361;
  
  

  /* padding */
  --pd-small: 8px;
  --pd-medium: 16px;
  --pd-large: 24px;
  --pd-extra-large: 26px;
}


body {
    background-color: var(--color-darker);
    color: var(--color-white);
    height: 100vh;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sidebar {
  padding: 16px;
  background-color: var(--color-dark);
  height: 100%;
  max-width: 450px;
  min-width: 250px;

  .profile_container {
    display: flex;
    align-items: center ;
    gap: 36px;

    div {
      display: flex;
      align-items: center;
      gap: 8px;

    }

    img {
      height: auto;
      width: 30px;
      border-radius: 50%;
    }
    img:hover {
      cursor: pointer;
    }

    .notifications_container {
      margin-left: auto;

    }
  }

  ul {

    /* line-height: 2.125; */
    margin-top: var(--pd-large);
    margin-bottom: var(--pd-large);
   

    li {
      cursor: pointer;
      font-weight: 600;
      display: flex;
      align-items: center;
      padding: var(--pd-small);
      border-radius: var(--pd-small);

      
      img {

        margin-right: var(--pd-small);
      }
    }

    li:hover {
      background-color: var(--color-darker);
    }
  }


  .project_toolbar {

    display: flex;
    justify-content: space-between;

    img {
      cursor: pointer;
      
    }
  }
  
}



.content_section {

  padding:var(--pd-large);
  width: 100%;

  h1 {
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1.7px;
  }

  .todos_container {
    margin: 0 auto;
    max-width: 800px;
  }



  .todo {
    background-color: var(--color-priority-low);
    margin: var(--pd-small) 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--pd-small) var(--pd-extra-large);
    border-radius: var(--pd-small);

    .priority_levels {
      font-weight: bold;

      option {
        padding: var(--pd-small);
        
      }
    }
  

    p {
      flex:1 ;
      padding-left: var(--pd-medium);
      width: 100%;
      font-weight: bolder;
      text-shadow: 0px 0px 5px rgba(57,57,57,0.8);
    }

    img {
      cursor: pointer;
    }
  }

  .completed {
    text-decoration: line-through;
    background-color: #123524;
    
  }

  .todo_section, .completed_todo {
    h2 {
      margin-bottom: var(--pd-medium);
    }

    background-color: var(--color-dark);
    padding: var(--pd-medium);
    border-radius: var(--pd-small);
    margin: var(--pd-large) 0;
    transition: 0.3s;

  }

}

.task_modal_container, .modal_container {

  visibility: hidden;
  position: absolute;;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba( 10,  10, 10, .8);  
  display: flex;
  align-items: center;
  justify-content: center;

  .modal_card {
    width: 250px;
    background-color: var(--color-white);
    color: var(--color-darker);
    padding: var(--pd-medium);
    border-radius: var(--pd-small);

    button {
      margin-top: var(--pd-small);
      background-color: var(--color-apple);
      color: var(--color-white);
      font-weight: bold;
      border-radius: var(--pd-small);
      
    }

    button:hover {
      transition: 0.3s;
      cursor: pointer;
      background-color: var(--color-purple);
      border: solid 2px var(--color-orange);
    }

    button:active {
      transition: 0.3s;
      background-color: var(--color-orange);
    }

  }

    h3 {
      font-weight: bold;
      padding-bottom: var(--pd-small);
    }

}


.modal_container {


    input, button {
      border: solid 2px var(--color-darker);
      width: 100%;
      height: 36px;
      border-radius: var(--pd-small);

    }

    input {
      
      padding-left: var(--pd-small);
    }

  
}

.task_modal_container {

  .modal_card {
   width: 400px;
   padding: var(--pd-medium);
   display: flex;
   flex-direction: column;
   gap: var(--pd-medium);

  }

  input, select, button {
    width: 100%;
    height: 36px;
    padding-left: var(--pd-small);
    text-transform: uppercase;
    font-weight: bold;
  }

  option {
    font-weight: bold;
    
  }

}

svg {

  fill: white;
}