html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }



:root {

  /* Color palette */
  --color-darker: #100c25;
  --color-dark: #1B1833;
  --color-purple: #441752;
  --color-apple: #AB4459;
  --color-orange: #F29F58; 
  --color-white: #FFFDEC;

  /* padding */
  --pd-small: 8px;
  --pd-medium: 16px;
  --pd-large: 24px;
  --pd-extra-large: 26px;
}


body {
    background-color: var(--color-darker);
    color: var(--color-white);
    height: 100vh;
}

.sidebar {
  padding: 16px;
  background-color: var(--color-dark);
  height: 100%;
  max-width: 350px;

  .profile_container {
    display: flex;
    align-items: center ;
    gap: 36px;

    div {
      display: flex;
      align-items: center;
      gap: 8px;

    }

    img {
      background-color: var(--color-white);
      height: auto;
      width: 30px;
      border-radius: 50%;
    }
  
    i{
      background-color: var(--color-white);
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }

  ul {

    line-height: 2;
    margin-top: var(--pd-medium);
    margin-bottom: var(--pd-medium);

    li {
      cursor: pointer;
      font-weight: 600;
    }
  }
  
}
